<h1>This is where we will keep all starting points and templates for front end savy stuff.</h1>


Favorite Glyphicons

<i class="fa fa-tachometer" aria-hidden="true"> (Dashboard)</i>

Favorite moving glyphs
<i class="fa fa-spinner" aria-hidden="true"> (Moving spinner) </i>
<i class="fa fa-cog" aria-hidden="true"> (Moving Cog) </i>
<i class="fa fa-refresh" aria-hidden="true"> (Moving refresh) </i>

Direction glyphs
<i class="fa fa-arrow-up" aria-hidden="true"> (Up) </i>
<i class="fa fa-arrow-down" aria-hidden="true"> (Down) </i>
<i class="fa fa-arrow-left" aria-hidden="true"> (Left) </i>
<i class="fa fa-arrow-right" aria-hidden="true"> (Right) </i>